.App {
    text-align: center;
}

@font-face {
    font-family: iransansBoldEn;
    src: url(./fonts/IRANSansWeb_Bold.ttf);
}

@font-face {
    font-family: iransansBold;
    src: url(./fonts/iransans_bold.ttf);
}

@font-face {
    font-family: iransansMedium;
    src: url(./fonts/iransans_medium.ttf);
}

@font-face {
    font-family: iransansLight;
    src: url(./fonts/iransans_light.ttf);
}

@font-face {
    font-family: iransansUltraLight;
    src: url(./fonts/iransans_ultralight.ttf);
}

@font-face {
    font-family: aviny;
    src: url(./fonts/aviny.ttf);
}

#axid {
    border-radius: 12;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
.MuiButton-label {
    font-family: iransansBold !important;
}

input,
label,
.MuiInputLabel-shrink {
    font-family: iransansMedium !important;
    text-align: right !important;
    direction: rtl !important;
    right: 0 !important;
    transform-origin: top right !important;
}

.MuiPaper-elevation1 {
    box-shadow: 0 0 0 0 !important;
}

.BoldText {
    font-family: iransansBold;
    text-align: right;
}

.BigText {
    font-family: iransansBold;
    font-size: 18;
    color: white;
    margin: 0;
    text-align: right;
}

p {
    margin: 0;
    font-family: iransansLight;
}

.MuiFormHelperText-root.Mui-error {
    font-family: iransansMedium !important;
}

textarea {
    margin: 0;
    font-family: iransansMedium !important;
}

.PrimaryText {
    font-family: iransansBoldEn !important;
    font-weight: 100 !important;
    font-size: 16px;
    color: #f1f1f1;
    margin: 0;
    text-align: right;
}

.FreePriceText {
    font-family: iransansBold !important;
    font-size: 16px;
    color: #1fd85a;
    margin: 0;
    text-align: right;
}

.PrimaryLightText {
    font-family: iransansBold !important;
    font-size: 16px;
    color: #c2c2c2;
    margin: 0;
    text-align: right;
}

.SecondaryText {
    font-family: iransansMedium;
    font-size: 14px;
    color: #dfdfdf;
    margin: 0;
    text-align: right;
}

.SecondarySmallText {
    font-family: iransansMedium;
    font-size: 14px;
    color: white;
    margin: 0;
    text-align: right;
}

.SecondaryLightText {
    font-family: iransansLight;
    font-size: 14px;
    color: #bdbdbd;
    margin: 0;
    text-align: right;
}

.ThirdText {
    font-family: iransansLight !important;
    font-weight: 100 !important;
    font-size: 12px;
    color: #d1d1d1;
    margin: 0;
    text-align: right;
    line-height: 1.8;
}

.ThirdBoldText {
    font-family: iransansBold !important;
    font-size: 12px;
    color: #f0f0f0;
    margin: 0;
    text-align: right;
}

.ThirdENText {
    font-family: iransansBoldEn !important;
    font-weight: 100 !important;
    font-size: 12px;
    color: #d5d5d5 !important;
    margin: 0;
    text-align: right;
    line-height: 1.8;
}

.ThirdLightText {
    font-family: iransansUltraLight !important;
    font-size: 12px;
    color: #e1e1e1;
    margin: 0;
    text-align: right;
}

.MuiTypography-body1 {
    font-family: iransansMedium !important;
}

.MuiTab-wrapper {
    font-family: iransansBold !important;
    font-size: 16px;
}

#tabs {
    justify-content: center;
}

.MiddlePriceStyle {
    font-family: iransansMedium;
    font-size: 12;
    color: #fcfcfc;
    margin: 0;
}

.MuiAccordion-root:before {
    display: none;
}

.DiscountPriceStyle {
    font-family: iransansLight;
    font-size: 12px;
    color: #c2c2c2;
    margin: 0;
    text-decoration: line-through;
}

.LogoType {
    width: 80px;
    height: 30px;
    object-fit: contain;
}


/* .AppBar {
    background-color: #ffffff;
} */

.MuiButton-outlined {
    border: 2px solid rgba(191, 191, 191, 0.23) !important
}

.MuiCard-root {
    background-color: #151515 !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

body {
    margin: 0px;
    /* font-family: iransansLight !important; */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

div.left {
    position: absolute;
    left: 150px;
    width: 200px;
    height: 120px;
    background-color: aqua;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

li {
    float: left;
}

.li-horizontal {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#accordion {
    background-color: transparent !important;
}

.MuiDialog-paperWidthLg {
    border-radius: 16px !important;
}

.ul-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tag-button {
    background-color: #ff1f3e;
    border-radius: 16px;
    text-align: center;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    font-family: iransansMedium;
    font-size: 14px;
    margin-right: 12px;
    margin-left: 0px;
}

.discount-image-item {
    width: 250px;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-repeat: no-repeat;
    background: url('./icons/no_image_wide_light.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.image {
    background-repeat: no-repeat;
    background: url('./icons/no_image_wide_light.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.image_file {
    background-repeat: no-repeat;
    background: url('./icons/no_image_file.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.image_no_background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 4px;
}

.avatar_image {
    background-repeat: no-repeat;
    background: url('./icons/avatar.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.user-image-item {
    width: 180px;
    height: 150px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-repeat: no-repeat;
    background: url('./icons/no_image_wide_light.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.centerHorizontal {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rows .row {
    display: inline-block;
}

.vertical {
    display: flex;
}

.float-left {
    float: left;
}

.float-middle {
    overflow: hidden;
}

.float-right {
    float: right;
}

.StackContainer {
    display: flex;
}

#storePanel {
    justify-content: start !important;
}

.StackElement {
    position: absolute;
}

.horizontalScroll {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}

span,
th,
td {
    font-family: iransansMedium;
}

.MuiTypography-displayBlock {
    font-family: iransansMedium !important;
}

.MuiBottomNavigationAction-label.Mui-selected {
    font-family: iransansMedium !important;
}


/* * {
    font-family: iransansMedium;
} */

.Toastify__toast-body {
    font-family: iransansMedium !important;
}

input,
textarea {
    border: 0;
    outline: 0;
}

input:focus,
textarea {
    outline: none !important;
}

.input_acc {
    width: 30%;
    border-width: 0;
    border-bottom: 1px solid #a2a2a2;
    margin-right: 16px !important;
    margin-left: 16px !important;
}

@media only screen and (max-width: 992px) {
    .input_acc {
        width: 45%;
        border-width: 0;
        border-bottom: 1px solid #a2a2a2;
        margin-right: 16px !important;
        margin-left: 16px !important;
    }
}

@media screen and (max-width: 768px) {
    .input_acc {
        width: 90%;
        border-width: 0;
        border-bottom: 1px solid #a2a2a2;
        margin-right: 32px !important;
        margin-left: 32px !important;
    }
}

.input_acc_no_margin {
    width: 30%;
    border-width: 0;
    border-bottom: 1px solid #a2a2a2;
    margin-right: 8px !important;
    margin-left: 8px !important;
}

@media only screen_no_margin and (max-width: 992px) {
    .input_acc_no_margin {
        width: 45%;
        border-width: 0;
        border-bottom: 1px solid #a2a2a2;
        margin-right: 8px !important;
        margin-left: 8px !important;
    }
}

@media screen_no_margin and (max-width: 768px) {
    .input_acc_no_margin {
        width: 90%;
        border-width: 0;
        border-bottom: 1px solid #a2a2a2;
    }
}

.MuiSvgIcon-root {
    /* position: relative !important; */
    left: 0 !important;
    margin-bottom: 12px !important;
}

#standard-select {
    font-family: iransansMedium !important;
}

.scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost ::-moz-scrollbar {
    display: none;
}

.scrollhost {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    /*just hides the scrollbar for firefox */
}

.clickHover:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
    border-color: #ff2238 !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

.cardHover:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0 0 1px 1px #fc1666 !important;
}

.darkHover:hover {
    background-color: #000000 !important;
}

.clickHoverPurple:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
    border-color: #4a22ff !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

.clickableColor:hover {
    background-color: #fff !important;
}

.MuiBottomNavigationAction-label {
    font-family: iransansLight !important;
}

.clickHoverJustZoom:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.04);
}

.clickHoverJustTooZoom:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.4);
}


/* Hide scrollbar for Chrome, Safari and Opera */

.noscrollbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.noscrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    justify-content: right !important;
}

.noscrollbar-nojustify {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.MuiButton-root {
    min-width: 50px !important;
}

.Calendar {
    width: auto !important;
    font-family: iransansMedium !important;
    height: 300px !important;
    min-height: 300px !important;
    border-radius: 0px !important;
}

.MuiPickersTimePickerToolbar-ampmSelection {
    margin-right: 20px !important;
}

.MuiPickersTimePickerToolbar-toolbarAmpmLeftPadding {
    padding-left: 0px !important;
}


/* .MuiPickersToolbar-toolbar {
    direction: ltr;
} */

.MuiInputBase-input {
    line-height: 24px !important;
    font-size: 16px !important;
    padding: 6px 0 12px !important;
}

.MuiInputBase-multiline {
    padding: 0 !important;
}


/* reza add class */


/* .MuiTabs-flexContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    overflow-x: scroll !important;
    width: 100% !important;
}
.MuiTab-root {
    min-width: auto !important;
} */


/* added by me */

.MuiGridList-root {
    margin: 0px !important;
}

.input {
    line-height: 24px !important;
    font-size: 12px !important;
}


/* .MuiSlider-thumb{
    width: 6px !important;
    height: 6px !important;
    margin-top: -2.5px !important;
} */

.MuiSlider-root {
    height: 0px !important;
    padding: 16px !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #ff1f3e !important;
}

.MuiFormLabel-root {
    color: rgb(153, 153, 153) !important;
}

.MuiTypography-root {
    color: white;
}

.MuiInput-underline::after {
    border-bottom: 2px solid rgb(255, 255, 255) !important;
}

.clickable {
    cursor: pointer;
}

.none_clickable {
    cursor: none !important;
}

.MuiButton-textPrimary {
    color: #313131 !important;
}

.MuiToolbar-root {
    padding: 8 !important;
    margin: 8 !important;
}


/* .MuiIconButton-edgeEnd {
    margin-left: 0px !important;
} */

.normal {
    background-color: red;
}

.single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
}

.multi-line-4lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
}

.multi-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
}

.two-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: pre-line; */
}

.masonry-container {
    /* column-count: 6; */
    column-gap: 4px;
}

.masonry-item {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    display: block;
    width: 100%;
}

.rtfLink {
    color: #64b9db;
    text-decoration: none;
}

.lds-ellipsis div {
    background: rgb(206, 206, 206) !important;
}

.animated-number-green {
    color: #20AF6C;
    flex: 1;
    text-align: left;
    direction: ltr;
    font-size: 18;
    font-family: iransansBoldEn !important;
    font-weight: 100 !important;
}

.animated-number-red {
    color: #FA3A54;
    flex: 1;
    text-align: left;
    direction: ltr;
    font-size: 18;
    font-family: iransansBoldEn !important;
    font-weight: 100 !important;
}

.animated-number-price {
    margin-top: 4px;
    font-family: iransansBoldEn !important;
    font-weight: 100 !important;
    font-size: 16px;
    color: #DADADA;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 0.5s both;
    -moz-animation: flickerAnimation 0.5s both;
    -o-animation: flickerAnimation 0.5s both;
    animation: flickerAnimation 0.5s both;
}

.MuiLinearProgress-bar {
    background-color: #20AF6C !important;
}

.flipLayout {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}